@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    /* font-family: "Inter", sans-serif; */
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #0d1629;
}

.top-bar {
    padding: 10px;
    display: flex;
    justify-content: end;
    background-color: #14213d;
}

.main-section {
    flex: 1;
    display: flex;
}

.editor {
    flex: 1;
    display: flex;
}

.CodeMirror {
    width: 100% !important;
    height: 100% !important;
    background-color: #14213d !important;
    color: #e5e5e5 !important;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
}


.CodeMirror-gutters {
    background-color: #14213d !important;
    border: none !important;
}

.CodeMirror-linenumber {
    color: #fca21135 !important;
    font-family: "JetBrains Mono", monospace !important;
}

.CodeMirror-cursor {
    border-left: 5px solid #fca311 !important;
    border-radius: 6px;
}

textarea {
    width: 100%;
    padding: 20px;
    border-radius: 0;
    resize: none;
    border: none;
    flex: 1;
    background-color: #14213d;
    color: #f7ede2;
    font-family: "JetBrains Mono", monospace;
}

.code {
    background-color: #14213d;
    padding: 3px 15px;
    font-family: "JetBrains Mono", monospace;
    border-radius: 3px;
    width: 100%;
    color: #38b000;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}

.preview {
    flex: 1;
    padding: 2rem;
    background-color: #f1faee;
    font-family: 'inter';
    border-radius: 6px;
    

}

.export-pdf {
    background-color: #1d3557;
    border: none;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #eaf4f4;
    font-weight: bold;
    border-radius: 6px;
}

.export-pdf:hover {
    background-color: #457b9d;
    cursor: pointer;
}

.list-item {
    padding: 0;
}